
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Employee</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}
    <style>

    ul.errorlist
    {
        color: red;
    }

    #formheading
    {
        border: #424242 solid 1px;
        background-color: #424242;
        color: white;
        margin-bottom: 12px;
        margin-top: 15px;
        text-align: center;
    }

    #back_records
    {
        text-align: left;

    }

     #formaddress
    {
        border: #424242 solid 1px;
        background-color: #424242;
        color: white;
        margin-bottom: 12px;
        margin-top: 15px;
        text-align: left;
    }

    #formregistration
    {
        border: #424242 solid 1px;
        background-color: #424242;
        color: white;
        margin-bottom: 12px;
        text-align: left;
    }

    .form-editor-fields-container
    {
        background-color: #f2f2f2;
        border: #ECECEC solid 1px;
        padding-top: 10px;
        padding-bottom: 10px;
        float: center;
        width: 100%;
    }

    .requiredfield:not(.likert-label):after
    {
        content: " *";
        color: #FF0000;
        font-size: 10px;
        position: absolute;
        margin-left: 6px;
        margin-top: 5px;
        line-height: 100%;
    }

    </style>

</head>
<body>

<div class="col-md-10 container-fluid" style="min-height: 80%;">
    <div id='formheading'>
        <h5 class="btn btn-default">New Employee Registration Form</h5>
    </div>
    <a href="/employee" id="back_records" class="btn btn-success"> << Back to Records </a>
    <div class="form-editor-fields-container">
        <div class="row">
            <div class="col-md-12">
                <form action="#" method="POST" class="form-horizontal">
                    {% csrf_token %}
                    <div id='formregistration'>
                        <h6 class="btn btn-default">Employee Details</h6>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <label class="col-sm-2 requiredfield" for="id_company">Company:</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="id_company" name="company">
                                <option value="">----------</option>
                                {% for company in company %}
                                    <option value="{{company.id}}" {% if form.company.value|add:0 == company.id %} selected="selected" {% endif %}>{{company.name}}</option>
                                {% endfor %}
                            </select>
                            {{ form.company.errors }}
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <label class="col-sm-2 requiredfield" for="id_code">Employee id:</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="id_code" maxlength="30" name="code" type="text" value="{{ form.code.value|default:'' }}">
                            {{ form.code.errors }}
                        </div>
                        <label class="col-sm-2 requiredfield" for="id_date_hired">Date Hired:</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="id_date_hired" maxlength="30" name="date_hired" type="date" value="{{ form.date_hired.value }}">
                            {{ form.date_hired.errors }}
                        </div>
                    </div>
                    <div class="row" style="margin-top: 30px">
                        <label class="col-sm-2 requiredfield" for="id_last_name">Last name:</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="id_last_name" maxlength="64" name="last_name" type="text" value="{{ form.last_name.value|default:'' }}">
                            {{ form.last_name.errors }}
                        </div>
                        <label class="col-sm-2 requiredfield" for="id_dob">Date of Birth:</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="id_dob" maxlength="30" name="dob" type="date" value="{{ form.dob.value|default:'' }}">
                            {{ form.dob.errors }}
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <label class="col-sm-2" for="id_middle_name">Middle name:</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="id_middle_name" maxlength="64" name="middle_name" type="text" value="{{ form.middle_name.value|default:'' }}">
                        </div>
                        <label class="col-sm-2 requiredfield" for="id_pob">Place of Birth:</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="id_pob" maxlength="30" name="pob" type="text" value="{{ form.pob.value|default:'' }}">
                            {{ form.pob.errors }}
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <label class="col-sm-2 requiredfield" for="id_first_name">First name:</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="id_first_name" maxlength="64" name="first_name" type="text" value="{{ form.first_name.value|default:'' }}">
                            {{ form.first_name.errors }}
                        </div>
                        <label class="col-sm-2 requiredfield" for="id_gender">Gender:</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="id_gender" name="gender">
                                <option value="">----------</option>
                                <option value="{{ 1 }}" {% if form.gender.value|add:0 == 1 %} selected="selected" {% endif %}>MALE</option>
                                <option value="{{ 2 }}" {% if form.gender.value|add:0 == 2 %} selected="selected" {% endif %}>FEMALE</option>
                            </select>
                            {{ form.gender.errors }}
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <label class="col-sm-2 requiredfield" for="id_email">Email:(ex: josh@google.com)</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="id_email" maxlength="50" name="email" type="email" value="{{ form.email.value|default:'' }}">
                            {{ form.email.errors }}
                        </div>
                        <label class="col-sm-2 requiredfield" for="id_civil_status">Marital Status:</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="id_civil_status" name="civil_status">
                                <option value="">----------</option>
                                {% for civil_status in civil_status %}
                                    <option value="{{civil_status.id}}" {% if form.civil_status.value|add:0 == civil_status.id %} selected="selected" {% endif %}>{{civil_status.code}}</option>
                                {% endfor %}
                            </select>
                            {{ form.civil_status.errors }}
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <label class="col-sm-2" for="id_nationality">Nationality:</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="id_nationality" name="nationality">
                                <option value="">----------</option>
                                {% for nationality in nationality %}
                                    <option value="{{nationality.id}}" {% if form.nationality.value|add:0 == nationality.id %} selected="selected" {% endif %}>{{nationality.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <label class="col-sm-2" for="id_religion">Religion:</label>
                        <div class="col-sm-4">
                             <select class="form-control" id="id_religion" name="religion">
                                <option value="">----------</option>
                                {% for religion in religion %}
                                    <option value="{{religion.id}}" {% if form.religion.value|add:0 == religion.id %} selected="selected" {% endif %}>{{religion.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div id='formaddress'>
                        <h6 class="btn btn-default">Contact Details</h6>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <label class="col-sm-2" for="id_telnum">Telephone Number:</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="id_telnum" maxlength="30" name="telnum" type="number" value="{{ form.telnum.value|default:'' }}">
                        </div>
                        <label class="col-sm-2 requiredfield" for="id_cphonenum">Cellphone Number:(0917-7 Digits)</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="id_cphonenum" maxlength="50" name="cphonenum" type="text" title="0917-7 Digits" placeholder="0917-XXXXXXX" pattern="[0-9]{4}-[0-9]{7}" value="{{ form.cphonenum.value|default:'' }}">
                            {{ form.cphonenum.errors }}
                        </div>
                    </div>
                    <div id='formaddress'>
                        <h6 class="btn btn-default">Present Address</h6>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <label class="col-sm-2" for="id_a_house_num">House/Bldg/Unit No.:</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="id_a_house_num" maxlength="120"  name="a_house_num" type="text" placeholder="House/Bldg/Unit No." value="{{ form.a_house_num.value|default:'' }}">
                        </div>
                        <label class="col-sm-2" for="id_a_street_subd">Street/Subdivision:</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="id_a_street_subd" maxlength="120"  name="a_street_subd" type="text" placeholder="Street/Subdivision" value="{{ form.a_street_subd.value|default:'' }}">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <label class="col-sm-2" for="id_a_barangay">Barangay</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="id_a_barangay" maxlength="120"  name="a_barangay" type="text" value="{{ form.a_barangay.value|default:'' }}">
                        </div>
                        <label class="col-sm-2" for="id_a_zipcode">Zip:</label>
                        <div class="col-sm-2">
                            <input class="form-control" id="id_a_zipcode" maxlength="4" name="a_zipcode" type="number" readonly="readonly" value="{{ form.a_zipcode.value|default:'' }}">
{#                            {{ form.pzipcode.errors }}#}
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <label class="col-sm-2" for="id_a_province">Province</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="id_a_province" name="a_province">
                                <option value="">----------</option>
                                {% for data in province %}
                                    <option value="{{data.id}}" {% if form.province.value|add:0 == data.id %} selected="selected" {% endif %}>{{data.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <label class="col-sm-2" for="id_a_city">Municipality/City</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="id_a_city" name="a_city">
                                <option value="">----------</option>
                                {% for data in cities %}
                                    <option value="{{data.id}}" {% if form.cities.value|add:0 == data.id %} selected="selected" {% endif %}>{{data.name}}</option>
                                {% endfor %}
                            </select>
{#                            {{ form.pcity.errors }}#}
                        </div>
                    </div>
                    <div id='formaddress'>
                        <h6 class="btn btn-default">Provincial Address</h6>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <label class="col-sm-2" for="id_p_house_num">House/Bldg/Unit No.:</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="id_p_house_num" maxlength="120"  name="p_house_num" type="text" placeholder="House/Bldg/Unit No." value="{{ form.p_house_num.value|default:'' }}">
                        </div>
                        <label class="col-sm-2" for="id_p_street_subd">Street/Subdivision:</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="id_p_street_subd" maxlength="120"  name="p_street_subd" type="text" placeholder="Street/Subdivision" value="{{ form.p_street_subd.value|default:'' }}">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <label class="col-sm-2" for="id_p_barangay">Barangay</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="id_p_barangay" maxlength="120"  name="p_barangay" type="text" value="{{ form.p_barangay.value|default:'' }}">
                        </div>
                        <label class="col-sm-2" for="id_p_zipcode">Zip:</label>
                        <div class="col-sm-2">
                            <input class="form-control" id="id_p_zipcode" maxlength="4" name="p_zipcode" type="number" readonly="readonly" value="{{ form.p_zipcode.value|default:'' }}">
{#                            {{ form.pzipcode.errors }}#}
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <label class="col-sm-2" for="id_p_province">Province</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="id_p_province" name="p_province">
                                <option value="">----------</option>
                                {% for province in province %}
                                    <option value="{{province.id}}" {% if form.province.value|add:0 == province.id %} selected="selected" {% endif %}>{{province.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <label class="col-sm-2" for="id_p_city">Municipality/City</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="id_p_city" name="p_city">
                                <option value="">----------</option>
                                {% for cities in cities %}
                                    <option value="{{cities.id}}" {% if form.cities.value|add:0 == cities.id %} selected="selected" {% endif %}>{{cities.name}}</option>
                                {% endfor %}
                            </select>
{#                            {{ form.pcity.errors }}#}
                        </div>
                    </div>
                    <div id='formaddress'>
                        <h6 class="btn btn-default">In case of Emergency</h6>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <label class="col-sm-2" for="id_clast_name">Last name:</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="id_clast_name" maxlength="64" name="clast_name" type="text" value="{{ form.clast_name.value|default:'' }}">
                        </div>
                        <label class="col-sm-2" for="id_ctelnum">Telephone Number:</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="id_ctelnum" maxlength="30" name="ctelnum" type="number" value="{{ form.ctelnum.value|default:'' }}">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <label class="col-sm-2" for="id_cmiddle_name">Middle name:</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="id_cmiddle_name" maxlength="64" name="cmiddle_name" type="text" value="{{ form.cmiddle_name.value|default:'' }}">
                        </div>
                        <label class="col-sm-2" for="id_ccphonenum">Cellphone Number:(0917-7 Digits)</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="id_ccphonenum" maxlength="50" name="ccphonenum" type="text" title="0917-7 Digits" placeholder="0917-XXXXXXX" pattern="[0-9]{4}-[0-9]{7}" value="{{ form.ccphonenum.value|default:'' }}">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <label class="col-sm-2" for="id_cfirst_name">First name:</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="id_cfirst_name" maxlength="64" name="cfirst_name" type="text" value="{{ form.cfirst_name.value|default:'' }}">
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                    <div id='formaddress'>
                        <h6 class="btn btn-default">Family Background</h6>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <label class="col-sm-2" for="id_f_last_name">Father lastname:</label>
                        <div class="col-sm-3">
                            <input class="form-control" id="id_f_last_name" maxlength="64" name="f_last_name" type="text" value="{{ form.f_last_name.value|default:'' }}">
                        </div>
                        <label class="col-sm-1" for="id_f_middle_name">MI:</label>
                        <div class="col-sm-1">
                            <input class="form-control" id="id_f_middle_name" maxlength="64" name="f_middle_name" type="text" value="{{ form.f_middle_name.value|default:'' }}">
                        </div>
                        <label class="col-sm-2" for="id_father_name">Father name:</label>
                        <div class="col-sm-3">
                            <input class="form-control" id="id_father_name" maxlength="64" name="father_name" type="text" value="{{ form.father_name.value|default:'' }}">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <label class="col-sm-2" for="id_m_last_name">Mother lastname:</label>
                        <div class="col-sm-3">
                            <input class="form-control" id="id_m_last_name" maxlength="64" name="m_last_name" type="text" value="{{ form.m_last_name.value|default:'' }}">
                        </div>
                        <label class="col-sm-1" for="id_m_middle_name">MI:</label>
                        <div class="col-sm-1">
                            <input class="form-control" id="id_m_middle_name" maxlength="64" name="m_middle_name" type="text" value="{{ form.m_middle_name.value|default:'' }}">
                        </div>
                        <label class="col-sm-2" for="id_mother_name">Mother name:</label>
                        <div class="col-sm-3">
                            <input class="form-control" id="id_mother_name" maxlength="64" name="mother_name" type="text" value="{{ form.mother_name.value|default:'' }}">
                        </div>
                    </div>
                    <div id='formaddress'>
                        <h6 class="btn btn-default">Government ID's Details</h6>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <label class="col-sm-2" for="id_tin">TIN:(XXX-XXX-XXX)</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="id_tin" maxlength="30" name="tin" type="text" title="XXX-XXX-XXX" placeholder="XXX-XXX-XXX" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}" value="{{ form.tin.value|default:'' }}">
                        </div>
                        <label class="col-sm-2" for="id_sssno">SSS NO:(XX-XXXXXXXX-X)</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="id_sssno" maxlength="30" name="sssno" type="text" title="XX-XXXXXXXX-X" placeholder="XX-XXXXXXXX-X" pattern="(?!00)[0-9]{2}-(?!0000)[0-9]{8}-[0-9]{1}$" value="{{ form.sssno.value|default:'' }}">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <label class="col-sm-2" for="id_pagibig">Pag-ibig:(XXXX-XXXX-XXXX)</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="id_pagibig" maxlength="30" name="pagibig" type="text" title="XXXX-XXXX-XXXX" placeholder="XXXX-XXXX-XXXX" pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}" value="{{ form.pagibig.value|default:'' }}">
                        </div>
                         <label class="col-sm-2" for="id_philhealth">Philhealth:(XX-XXXXXXXXX-X)</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="id_philhealth" maxlength="30" name="philhealth" type="text" title="XX-XXXXXXXXX-X" placeholder="XX-XXXXXXXXX-X" pattern="[0-9]{2}-[0-9]{9}-[0-9]{1}" value="{{ form.philhealth.value|default:'' }}">
                        </div>
                    </div>
                    <center style="text-align: center;margin-top: 10px">
                        <button value="submit" type="submit" class="btn btn-success">Register New Employee</button>
                    </center>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>